<table class="table table-hover">
    <thead>
    <tr>
        <th class="glyphicon-sort">Country</th>
        <th class="glyphicon-sort">Town</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Test0</td>
        <td>Test1</td>
    </tr>
    </tbody>
</table>